.THIS .display-none {
    display: none;
}

.THIS .slds-m-horizontal--medium {
    position: relative;
}

.THIS .slds-button-group {
    position: absolute;
    top: -2.15rem;
    right: 0;
}

.THIS dl {
    position: relative;
}

.THIS dl .slds-button-group {
    top: 0;
}

.THIS .slds-tile+.slds-tile {
    margin-top: 1rem;
}

.THIS .slds-tabs_default__content.slds-show {
    padding-bottom: 0rem;
}

.THIS .slds-media__figure {
    margin: 0rem;
}

.THIS .slds-icon {
    margin: 0 auto;
}

.THIS .user-box {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, .1);
}
.THIS .user-box:hover {
    background: rgba(27, 82, 151, .075);
}